<header class="container-fluid">
    <div class="header-content">
        <img class="d-block mx-auto img-fluid w-25 my-2" src="{{asset('assets/img/logo-final-png.png')}}" alt="logo" >
    </div>
</header>

