{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('assets/styles/header.css')}}"> 
{% endblock %}
<header>
  <div class="header-content">
    <img class="header-img" src="{{asset('assets/img/logo-final-png.png')}}" alt="logo">
  </div>
</header>
