<header>

<style>

    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header-img {
      height: 66px;
      justify-self: center;
    }



  </style>

  <div class="header-content">
    <img class="header-img" src="{{asset('assets/img/logo-final-png.png')}}" alt="logo">
  </div>
  
</header>
