<style>

#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 2em;
  height: 45px;
  z-index: 1000;
}

.hamburger div {
  position: relative;
  width: 30px;
  height: 7px;
  border-radius: 3px;
  background:var(--clr-primary);
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

/**
Nav Styles
**/
.nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
nav {
  text-align: left;
}
nav a {
  position: relative;
  text-decoration: none;
  color: var(--clr-tertiary);
  font-size: 2em;
  display: inline-block;
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
  width: 100%;
  border-radius: 0;
}


nav a:hover {
  color: white;
}
nav a:hover:before {
  height: 100%;
}

/**
Animations
**/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -7px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

@media  (min-width: 768px) {

    .hamburger {
        display: none;
    }
  
    .nav {
        position: relative;
        width: 100vw;
        height: 200px;
        overflow: visible;
        transition: none;
        transform: scale(1);
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70px;
        background: var(--clr-primary);
        margin-top: 5px;
    }

    nav a {
        font-size: 1em;
        color: var(--clr-tertiary);
        transition: none;
        width: 210px;
        border-radius: 30px;
    }

    nav a:nth-child(1) {
        margin-top: 0;
    }

    .login {
        display: none;
    }
}
</style>

<input id="toggle" type="checkbox"></input>

<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>

<div class="nav">
  <div class="nav-wrapper">
    <nav>
      <a href="#">Services</a>
      <a href="#">Vente véhicules</a>
      <a href="#">Avis</a>
      <a href="#">Contactez-nous</a>
      <a class="login" href="#">S'identifier</a>
    </nav>
  </div>
</div>
