form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid var(--clr-primary);
  border-radius: 5px;
  background-color: var(--clr-primary);
  width: 50%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-secondary);
}

.form-error {
  font-size: 0.8rem;
  color: var(--clr-secondary);
}

form input {
  width: 100%;
  height: 30px;
  padding: 5px;
  border: 1px solid var(--clr-secondary);
  border-radius: 5px;
  background-color: var(--clr-tertiary);
  margin: 0 auto;
  font-size: 1.2rem;
}

form input[type="file"] {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

form input[type="file"]:hover {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}

.form-description {
  width: 100%;
  height: 150px;
  padding: 5px;
  border: 1px solid var(--clr-secondary);
  border-radius: 5px;
  background-color: var(--clr-tertiary);
  margin: 0 auto;
  font-size: 1.2rem;
}

a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.form-group a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--clr-secondary);
}

.form-group a:hover {
  color: var(--clr-tertiary);
}
@media screen and (max-width: 767px) {
  form {
    width: 90vw;
  }
}
