.serv {
  position: relative;
  background-image: url("../img/Sans titre-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  color: var(--clr-tertiary);
  padding-bottom: 20px;
}

.h1-serv {
  text-align: center;
  color: var(--clr-tertiary);
}

.article {
  width: 80%;
  margin: 0 auto;
}

.h2-serv {
  text-align: center;
  color: var(--clr-tertiary);
  background: var(--clr-secondary);
  border-radius: 20px;
  margin-bottom: 20px;
}

.art-para {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.art-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .serv {
    height: auto;
    transition: all 0.5s ease-in-out;
  }

  .article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .article-reverse {
    flex-direction: row-reverse;
  }

  h1 {
    margin-bottom: 50px;
  }

  .h2-serv {
    text-align: start;
    border-radius: 0;
    background: none;
  }

  .art-text {
    width: 75%;
    text-align: start;
  }
  .art-para {
    width: 100%;
    padding: 0;
  }

  .art-img {
    width: auto;
    display: block;
    text-align: center;
  }

  .art-img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
}
