@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed&display=swap");

:root {
  --font1: "Anton", sans-serif;
  --font2: "Roboto Condensed", sans-serif;
  --clr-primary: #bebebe;
  --clr-secondary: #a32323;
  --clr-tertiary: #ddd7d7;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font2);
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: var(--clr-tertiary);
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font1);
  color: var(--clr-secondary);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
