table {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid;
  margin: 20px auto;
  width: 90vw;
}

thead {
  background-color: var(--clr-secondary);
  color: white;
}

th,
td {
  padding: 8px;
}

.td-denom {
  text-align: left;
}

.td-img img {
  width: 200px;
  height: auto;
}

.th-denom,
.td-denom {
  width: 35%;
}

.th-price,
.td-price {
  width: 10%;
}

.th-date,
.td-date {
  width: 20%;
}

.th-lastname,
.td-lastname {
  width: 10%;
}

.th-firstname,
.td-firstname {
  width: 10%;
}

.th-rank,
.td-rank {
  width: 8%;
}

.th-message,
.td-message {
  width: auto;
}

.th-approve,
.td-approve {
  width: auto;
}

.th-modi,
.td-modi {
  width: 8%;
}

.th-supr,
.td-supr {
  width: 8%;
}

td:nth-child(1) {
  text-align: left;
  padding-left: 10px;
}

tbody tr:nth-child(even) {
  background-color: var(--clr-primary);
}

tbody tr:nth-child(odd) {
  background-color: var(--clr-tertiary);
}

.pop-up-good {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: green;
  background-color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  padding: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  .td-img {
    display: flex;
    justify-content: center;
  }

  .td-img img {
    width: auto;
    height: 150px;
  }
}
