.vente {
  background-color: var(--clr-secondary);
  height: auto;
}

.h1-vent {
  margin-top: 50px;
  text-align: center;
  color: var(--clr-tertiary);
}

@media screen and (min-width: 768px) {
  .vente {
    height: 100vh;
  }
}
