<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil | V.Parrot{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" href="{{asset('assets/img/Favicon.png')}}">
        <link rel="stylesheet" href="{{asset('assets/styles/style.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block frontheader %}{% endblock %}
        {% block backheader %}{% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
